* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 237, 0));
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgb(253, 239, 227);
    width: 100%;
    max-width: 800px;
    margin: 0 .5rem;
    border-radius: .5rem;
}

/* Logomarca Snekki */
.logomarca {
    width: 8.5rem;
    border-radius: .5rem;
    display: block;
    margin: 1.5rem auto .5rem;
}

/* Titulo da página */
.titulo {
    font-size: 2.2rem;
    font-weight: 300;
    margin: 1rem 5rem 2rem;
    position: relative;
    cursor: default;
}
.titulo::after {
    content: '';
    display: block;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5rem;
    width: 35px;
    position: absolute;
    bottom: 0;
}

/* Input Radio Customizado */
.radio-container {
    display: flex;
    justify-content: center;
    column-gap: 2em;
    margin-bottom: 2rem;
}
.radio-custom input[type=radio] {
    display: none;
}
.radio-custom label {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10rem;
    padding: .5rem 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
}
.radio-custom input[type=radio]:checked~label {
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 238, 0));
    color: rgb(255, 255, 255);
}

/* Estilizando o formulário de login */
.form-login label {
    color: rgb(85, 85, 85);
}
.form-login input[type='text'],
.form-login input[type='password'] {
    width: 100%;
    padding: .3rem .5rem;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-block: .5rem;
    background-color: transparent;
    font-size: 1.2rem;
}
.form-login input[type='text']:focus,
.form-login input[type='password']:focus {
    outline: 0;     
}

/* Definindo margins para o formulário */
.form-login {
    margin: 0 1rem;
    padding: 0 2rem 2rem;
}

/* Input customizado animado */
.form-login .form-item {
    margin-top: 1rem;
    position: relative;
}
.form-login .form-item label {
    font-size: 1.2rem;
    position: absolute;
    left: .5rem;
    top: .8rem;
    cursor: text;
    transition: .2s;
}
.form-login .form-item input:focus ~ label,
.form-login .form-item input:valid ~ label {
    top: -.7rem;
}

/* Link esqueceu a senha */
.form-login .esqueceu-senha {
    margin-left: 1.5rem;
}

/* Lista para logar utilizando uma rede social */
.form-login .login-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    list-style: none;
    margin: 1rem 1rem 1rem 0;
    font-size: 1.5rem;
    cursor: default;
}
.form-login .login-social li a {
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
    padding: 1rem;
    cursor: pointer;
}
.form-login .login-social li a:hover {
    color: rgba(255, 0, 0, 0.7);
}

.form-login hr {
    border: 0;
    border-bottom: 1px solid rgb(255, 0, 0);
    margin-block: 1rem;
    position: relative;
}

/* Botão de entrar */
.form-login .btn-submit {
    display: block;
    margin: auto;
    font-size: 2rem;
    font-weight: 600;
    padding: .8rem 3rem;
    border: 0;
    border-radius: 5rem;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.container .cadastrar {
    text-align: center;
    margin-bottom: 1.5rem;
}
.container .cadastrar h3 {
    color: rgb(85, 85, 85);
    font-weight: 100;
    cursor: default;
}
.container .cadastrar h3 a {
    text-decoration: none;
}

@media screen and (max-width: 510px) {
    .form-login .esqueceu-senha {
        margin-left: .5rem;
    }
    .form-login .login-social {
        font-size: 1rem;
        margin: 2rem 0;
        justify-content: center;
    }
}
@media screen and (max-width: 350px) {
    .form-login .login-social {
        gap: 0;
    }
    .form-login .login-social li a {
        font-size: 1.5rem;
    }
}