* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(to right, #FF0000, #FFED00);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    font-size: 70px;
    color: #FFFFFF;
    font-family: Tahoma;
}

.container {
    height: 70vh;
    width: 120vh;
    background-color: #FDEFE3;
    padding-inline: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}

/* Botões de opção de login, CLIENTE OU PARCEIRO */
.radio-container {
    display: flex;
    justify-content: center;
    column-gap: 2.5em;
    margin: 3.5em 0 4em;
}
.radio-custom input[type=radio] {
    display: none;
}
.radio-custom label {
    border: 2px solid #FF0505;
    border-radius: 30px;
    padding: 10px 24px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.radio-custom input[type=radio]:checked ~ label {
    color: red;
    background-image: linear-gradient(to right, #FF0000, #FFED00);
    color: #FFFFFF;
}

/* Inputs dos dados do usuário, email e senha customizados (deu um bugzinho mas depois eu arrumo) */
.input-custom input {
    width: 100%;
    padding: 12px 18px;
    font-size: 20px;
    border: 2px solid #FF0505;
    border-radius: 10px;
    background-color: #FDEFE3;
}
.input-custom {
    position: relative;
    margin-bottom: 1em;
}
.input-custom:nth-child(1) {
    margin-bottom: 2.3em;
}
.input-custom label {
    position: absolute;
    font-size: 18px;
    left: 1.2em;
    bottom: .9em;
    transition: all .3s ease;
}

.input-custom input:focus {
    outline: none;
}
.input-custom input:focus ~ label,
.input-custom input:valid ~ label
{
    font-size: 22px;
    transform: translate(0, -1em);
    background-color: #FDEFE3;
    padding: 0 10px;
    border-left: 2px solid #FF0505;
    border-right: 2px solid #FF0505;
}

form a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 1em;
}

.continuar {
    font-size: 26px;
    margin: 1em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1em;
}
.continuar img {
    width: 50px;
    padding: 6px;
}
.continuar img:hover {
    background-image: linear-gradient(to right, #FF0000, #FFED00);
    border-radius: 50%;
    cursor: pointer;
}

.container-button {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.container-button hr {
    padding: .3px;
    background-color: #FF0505;
    border-left: 10px solid #FF0505;
    border-right: 10px solid #FF0505;
}
.container-button input[type=submit] {
    font-size: 34px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF0505;
    padding: 10px 50px;
    border: 1px solid transparent;
    border-radius: 30px;
    align-self: center;
    cursor: pointer;
}

.container .cadastro {
    align-self: center;
    margin-top: 2em;
}
.container > span, a {
    text-decoration: none;
    font-size: 22px;
}