* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FF0000, #FFED00);
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #FDEFE3;
    width: 90%;
    min-height: 100vh;
    align-self: center;
    overflow: hidden;
}

header * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline: 3%;
    border-bottom: 1px solid #ABABAB;
}

.logo {
    margin-right: auto;
}

.menu_navegacao {
    list-style: none;
}

.menu_navegacao li {
    padding-right: 15px;
}

.menu_navegacao li a {
    color: #000000;
}

.menu_navegacao li a:hover {
    color: #FF0505;
}

header button {
    padding: 9px 25px;
    color: #FFFFFF;
    background-color: #FF0505;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

main * {
    font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    text-align: center;
    margin-top: 6%;
}

.input-custon #input-endereco {
    width: 45vh;
    border-radius: 5px;
    border: 1px solid #FF0505;
    padding: 8px 13px;
    font-size: 18px;
    background-color: #FDEFE3;
    text-align: center;
    margin-top: 12%;
}
.input-custon #input-endereco:focus {
    outline: none;
}

.input-custon {
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-custon label {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    transition: all .5s ease;
    align-self: center;
    cursor: text;
}

.input-custon #input-endereco:focus ~ label,
.input-custon #input-endereco:valid ~ label
{
    transform: translateY(2.3em);
}

main div.botoes {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5vw;
}

.botoes > div {
    z-index: 0;
    background-image: linear-gradient(to right, rgb(255, 218, 70), rgb(255, 206, 0));
    width: 400px;
    height: 290px;
    border-radius: 30px;
    position: relative;
    transition: .3s;
}
.botoes > div:hover {
    transform: scale(1.1);
}

.botoes h2 {
    margin-top: 3%;
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
}
.botoes div > img {
    z-index: -1;
    width: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}
.botoes div > button {
    width: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 22px;
    font-weight: bold;
    margin: 30px 10px;
    padding-block: 10px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #FF0505;
    color: #FFFFFF;
    cursor: pointer;
}

main > h2 {
    color: rgb(110, 110, 110);
    align-self: flex-start;
    margin: 8rem 0 1rem 4rem;
}

/* Slider Ofertas */
.slider-oferta {
    position: relative;
    width: 50%;
    height: 32vw;
    margin: 80px auto;
    transform-style: preserve-3d;
    perspective: 1400px;
    align-self: center;
}

.slider-oferta input[type='radio'] {
    display: none;
}

.slider-oferta label,
.slider-oferta label img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 400ms ease;
}

/* Slide Ativo */
#slide-oferta1:checked ~ #oferta1,
#slide-oferta2:checked ~ #oferta2,
#slide-oferta3:checked ~ #oferta3 {
    transform: translate3d(0%, 0, 200px);
}

/* Próximo Slide */
#slide-oferta1:checked ~ #oferta2,
#slide-oferta2:checked ~ #oferta3,
#slide-oferta3:checked ~ #oferta1 {
    transform: translate3d(50%, 0, -100px);
    opacity: .8;
}

/* Slide Anterior */
#slide-oferta1:checked ~ #oferta3,
#slide-oferta2:checked ~ #oferta1,
#slide-oferta3:checked ~ #oferta2 {
    transform: translate3d(-50%, 0, -100px);
    opacity: .8;
}

/* Recomendações */
main .recomendacoes {
    display: flex;
    align-self: flex-start;
    column-gap: 2rem;
    margin: 2rem 0 10rem 5rem;
}
main .recomendacoes > div.restaurante {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 50%;
    transition: .3s;
    opacity: .5;
    cursor: pointer;
}
main .recomendacoes > div.restaurante:hover {
    transform: scale(1.2);
    opacity: 1;
}

/* Botão Esquerdo */
main .recomendacoes div.botao-esquerdo {
    position: absolute;
    align-self: center;
    left: 5rem;
    padding: 50px 0;
}

/* Botão Direito */
main .recomendacoes div.botao-direito {
    position: absolute;
    align-self: center;
    right: 5rem;
    padding: 50px 0;
}

main .recomendacoes div.botao-esquerdo i,
main .recomendacoes div.botao-direito i {
    font-size: 60px;
    opacity: .6;
}

main .recomendacoes div.botao-esquerdo i:hover,
main .recomendacoes div.botao-direito i:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}